In [2]:
###############################IMPORTING FILE################################# 
import pandas as pd
df = pd.read_csv("ToyataCorolla.csv")
df.head()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170

In [3]:
#EDA --> boxplot, histogrmam, scatter plot, 

##performed in mlr models

In [4]:
# standardization
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
#numerical data
df_nom = df[['Age_08_04', 'KM', 'HP', 'Automatic', 'cc', 'Doors', 'Cylinders', 'Gears', 'Weight']]

In [5]:
df_nom['Age_08_04'] = SS.fit_transform(df_nom[['Age_08_04']])
df_nom['KM'] = SS.fit_transform(df_nom[['KM']])
df_nom['HP'] = SS.fit_transform(df_nom[['HP']])
df_nom['Automatic'] = SS.fit_transform(df_nom[['Automatic']])
df_nom['cc'] = SS.fit_transform(df_nom[['cc']])
df_nom['Doors'] = SS.fit_transform(df_nom[['Doors']])
df_nom['Cylinders'] = SS.fit_transform(df_nom[['Cylinders']])
df_nom['Gears'] = SS.fit_transform(df_nom[['Gears']])
df_nom['Weight'] = SS.fit_transform(df_nom[['Weight']])

df_nom.head()

C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Age_08_04'] = SS.fit_transform(df_nom[['Age_08_04']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['KM'] = SS.fit_transform(df_nom[['KM']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['HP'] = SS.fit_transform(df_nom[['HP']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Automatic'] = SS.fit_transform(df_nom[['Automatic']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['cc'] = SS.fit_transform(df_nom[['cc']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Doors'] = SS.fit_transform(df_nom[['Doors']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Cylinders'] = SS.fit_transform(df_nom[['Cylinders']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Gears'] = SS.fit_transform(df_nom[['Gears']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_14552\3844718478.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Weight'] = SS.fit_transform(df_nom[['Weight']])

,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,-1.771966,-0.574695,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
1,-1.771966,0.117454,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
2,-1.718184,-0.715386,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
3,-1.610620,-0.547650,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
4,-1.395491,-0.801028,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.853577

In [6]:
#label encoding
from sklearn.preprocessing import  LabelEncoder
LE = LabelEncoder()
X_cat=LE.fit_transform(df["Fuel_Type"])
X_cat

array([1, 1, 1, ..., 2, 2, 2])

In [7]:
df_cat = pd.DataFrame(X_cat, columns=['Fuel Type '])
df_cat

      Fuel Type
0              1
1              1
2              1
3              1
4              1
...          ...
1431           2
1432           2
1433           2
1434           2
1435           2

[1436 rows x 1 columns]

In [8]:
X_SS=pd.concat([df_nom,df_cat],axis=1)
X_SS

,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight,Fuel Type
0,-1.771966,-0.574695,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
1,-1.771966,0.117454,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
2,-1.718184,-0.715386,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
3,-1.610620,-0.547650,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
4,-1.395491,-0.801028,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.853577,1
...,...,...,...,...,...,...,...,...,...,...
1431,0.702015,-1.279939,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-0.901883,2
1432,0.863362,-1.321120,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1433,0.809579,-1.374036,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1434,0.755797,-1.376703,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1435,1.078490,-1.827849,0.567440,-0.242893,0.054555,1.014941,0.0,-0.140425,0.789399,2

In [9]:
Y = df["Price"]
Y.head()

0    13500
1    13750
2    13950
3    14950
4    13750
Name: Price, dtype: int64

In [10]:
#Data partition
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25)

In [11]:
############################MODEL FITTING#######################################
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(X_train,Y_train)
Y_pred_train = model.predict(X_train)
Y_pred_test  = model.predict(X_test)

In [13]:
############################# data validation#########################################
from sklearn.metrics import mean_squared_error
train_rmse = mean_squared_error(Y_train,Y_pred_train,squared=False)
print("Training Error:",train_rmse)
test_rmse = mean_squared_error(Y_test,Y_pred_test,squared=False)
print("Test Error:",test_rmse)

Training Error: 1319.0134512030565
Test Error: 1669.4988753914854

In [14]:
training_err = []
test_err = []

for i in range(1,101):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

Cross validation - Training error: 1324.06
Cross validation - Test error: 1456.36

In [15]:
LR_coef = model.coef_
LR_coef

array([-2.26532462e+03, -6.65314287e+02,  3.59768939e+02,  7.67968841e+01,
       -1.82595690e+01, -1.19690208e+01,  6.82121026e-13,  1.29096025e+02,
        1.17558700e+03,  7.98480794e+02])

In [16]:
######################### RIDGE REGRESSION ###############################
from sklearn.linear_model import Ridge
model = Ridge(alpha=100)

model.fit(X_train,Y_train)
model.coef_

coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2042.384809
1          KM -6.653143e+02  -779.900391
2          HP  3.597689e+02   414.043315
3   Automatic  7.679688e+01    77.323216
4          cc -1.825957e+01    -4.343853
5       Doors -1.196902e+01    44.652091
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   136.137744
8      Weight  1.175587e+03  1046.608051
9  Fuel Type   7.984808e+02   230.136340

In [17]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[6],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1337.5
Cross validation - Test error: 1411.75

In [23]:
######################### RIDGE REGRESSION ###############################
from sklearn.linear_model import Ridge
model = Ridge(alpha=220)

model.fit(X_train,Y_train)
model.coef_

coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -1839.719872
1          KM -6.653143e+02  -841.660671
2          HP  3.597689e+02   379.745615
3   Automatic  7.679688e+01    48.797990
4          cc -1.825957e+01     6.273405
5       Doors -1.196902e+01    26.506906
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   120.459549
8      Weight  1.175587e+03  1065.895052
9  Fuel Type   7.984808e+02   102.240285

In [24]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1383.45
Cross validation - Test error: 1440.3

In [25]:
######################### RIDGE REGRESSION ###############################
from sklearn.linear_model import Ridge
model = Ridge(alpha=450)

model.fit(X_train,Y_train)
model.coef_

coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -1607.292573
1          KM -6.653143e+02  -818.861628
2          HP  3.597689e+02   371.720144
3   Automatic  7.679688e+01    41.344219
4          cc -1.825957e+01    36.629493
5       Doors -1.196902e+01    65.789733
6   Cylinders  6.821210e-13   112.474127
7       Gears  1.290960e+02   952.952718
8      Weight  1.175587e+03    30.573932
9  Fuel Type   7.984808e+02          NaN

In [27]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1498.56
Cross validation - Test error: 1544.95

In [28]:
######################### RIDGE REGRESSION ###############################
from sklearn.linear_model import Ridge
model = Ridge(alpha=500)

model.fit(X_train,Y_train)
model.coef_

coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -1565.880159
1          KM -6.653143e+02  -812.471305
2          HP  3.597689e+02   371.014733
3   Automatic  7.679688e+01    40.620783
4          cc -1.825957e+01    40.696605
5       Doors -1.196902e+01    71.797503
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   110.862658
8      Weight  1.175587e+03   929.126775
9  Fuel Type   7.984808e+02          NaN

In [30]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1525.26
Cross validation - Test error: 1570.39

In [31]:
######################### RIDGE REGRESSION ###############################
from sklearn.linear_model import Ridge
model = Ridge(alpha=600)

model.fit(X_train,Y_train)
model.coef_

coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -1491.432081
1          KM -6.653143e+02  -792.958958
2          HP  3.597689e+02   364.323339
3   Automatic  7.679688e+01    38.337037
4          cc -1.825957e+01    49.046004
5       Doors -1.196902e+01    80.771036
6   Cylinders  6.821210e-13   106.959623
7       Gears  1.290960e+02   891.850697
8      Weight  1.175587e+03          NaN
9  Fuel Type   7.984808e+02          NaN

In [33]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[8,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1823.77
Cross validation - Test error: 1860.53

In [34]:
######################### RIDGE REGRESSION ###############################
from sklearn.linear_model import Ridge
model = Ridge(alpha=625)

model.fit(X_train,Y_train)
model.coef_

coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -1729.694184
1          KM -6.653143e+02  -725.649091
2          HP  3.597689e+02   403.315630
3   Automatic  7.679688e+01    84.584626
4          cc -1.825957e+01   183.659566
5       Doors -1.196902e+01   223.273745
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   129.633684
8      Weight  1.175587e+03          NaN
9  Fuel Type   7.984808e+02          NaN

In [35]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,8,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1838.08
Cross validation - Test error: 1873.94

In [ ]:
#ALPHA 		DROP	TRAIN	 TEST
#100		6--->	1337     1411
#220		9--->	1383     1440
#450		9--->	1498     1544
#500 		6,9--->	1525     1676.8
#600      8,9--->  1823.77   1860.53
#625      6,8,9--->  1843.03   1878.23

In [ ]:
##CONCLUSION:
#we can observe that for any range ofalpha values training errors should be increased and test errors
#should be reduced but here always the test errors are being increased 
#hence we cannot able to implement this method.